<form action="/quiz/submitAnswers" method="post" id="quiz_take_form" class="form-horizontal" role="form">
</form>

<div class="container-fluid question_formal">
	<div class="row">
		<div class="col-sm-offset-2 col-sm-8">
			<div class="row question_formal_subject_container">
				<div class="col-sm-1">1.</div>
				<div class="col-sm-11 question_formal_subject">
				盧藏用始隱於終南山中,中宗朝累居要職。有道士司馬承禎者,睿宗迎至京,將還,藏用指終南山 謂之曰:「此中大有佳處,何必在遠!」承禎徐答曰:「以僕所觀,乃仕宦捷徑耳。」下列成語, 何者與此故事相關?
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-offset-2 col-sm-8">
			<div class="row question_formal_options_container">
				<div class="col-sm-1"></div>
				<div class="col-sm-11">
				<div class="radio"><label><input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>終南捷徑</label></div>  
				<div class="radio"><label><input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>終南捷徑</label></div>  
				<div class="radio"><label><input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>終南捷徑</label></div>  
				<div class="radio"><label><input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>終南捷徑</label></div>  
				</div>
			</div>
		</div>
	</div>	
</div>

<div class="container-fluid question_formal">
	<div class="row">
		<div class="col-sm-offset-2 col-sm-8">
			<div class="row question_formal_subject_container">
				<div class="col-sm-1">1.</div>
				<div class="col-sm-11 question_formal_subject">
				盧藏用始隱於終南山中,中宗朝累居要職。有道士司馬承禎者,睿宗迎至京,將還,藏用指終南山 謂之曰:「此中大有佳處,何必在遠!」承禎徐答曰:「以僕所觀,乃仕宦捷徑耳。」下列成語, 何者與此故事相關?
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-offset-2 col-sm-8">
			<div class="row question_formal_options_container">
				<div class="col-sm-1"></div>
				<div class="col-sm-11">
				<div class="radio"><label><input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>終南捷徑</label></div>  
				<div class="radio"><label><input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>終南捷徑</label></div>  
				<div class="radio"><label><input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>終南捷徑</label></div>  
				<div class="radio"><label><input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>終南捷徑</label></div>  
				</div>
			</div>
		</div>
	</div>	
</div>

<script>
	var question_index;
	var PoolIds = []; 	
	var Categories = [];

	function addFormalQuestion(index, course_id, pool_id, question_id, category, score, subject, options, comment) {
		PoolIds.push(pool_id); 			
		Categories.push(category);		
		var $div_question_container = $("<div>", {id: "question_container_"+question_id, class: "col-sm-8"});	    
		var $div_panel_container = $("<div>", {class: "panel panel-default"});
		var $div_panel_heading_container = $("<div>", {class: "panel-heading"});
		var $div_panel_title_container = $("<h3>", {class: "panel-title"});
		var $div_panel_body_container = $("<div>", {class: "panel-body"});
		switch(category.toString()) {
	    case '5':
			var $div_options_container = $("<textarea>", {class: "form-control", rows: "3", name: "answers"+question_index.toString()+"[]"});		
	        break;
	    case '2':
			var $div_options_container = $("<div>", {});	    
			$.each( options, function( k, v ){			
				var $div_option = $("<div>", {class: "radio"});
				var $div_option_label = $("<label>", {});			
				var $div_option_input = $("<input>", {type: "radio", name: "answers"+question_index.toString()+"[]"});		
				$div_option_input.data( "option_id", v.option_id );		
				$div_option_label.append($div_option_input);			
				$div_option_label.append(v.content);		
				$div_option.append($div_option_label); 			
				$div_options_container.append($div_option);		
			});	   
	        break;
	    case '3':
			var $div_options_container = $("<div>", {});	    
			$.each( options, function( k, v ){			
				var $div_option = $("<div>", {class: "checkbox"});
				var $div_option_label = $("<label>", {});			
				var $div_option_input = $("<input>", {type: "checkbox", name: "answers"+question_index.toString()+"[]"});		
				$div_option_input.data( "option_id", v.option_id );		
				$div_option_label.append($div_option_input);			
				$div_option_label.append(v.content);		
				$div_option.append($div_option_label); 			
				$div_options_container.append($div_option);		
			});	
	        break;
	    case '1':
			var $div_options_container = $("<div>", {});	    
			$.each( options, function( k, v ){			
				var $div_option = $("<div>", {class: "radio"});
				var $div_option_label = $("<label>", {});			
				var $div_option_input = $("<input>", {type: "radio", name: "answers"+question_index.toString()+"[]"});		
				$div_option_input.data( "option_id", v.option_id );		
				$div_option_label.append($div_option_input);			
				$div_option_label.append(v.content);		
				$div_option.append($div_option_label); 			
				$div_options_container.append($div_option);		
			});	   
	        break;		
		} 		
		$div_panel_title_container.html(subject);					
		$div_panel_heading_container.append($div_panel_title_container);	
		$div_panel_body_container.append($div_options_container);										
		$div_panel_container.append($div_panel_heading_container);		
		$div_panel_container.append($div_panel_body_container);
		$div_question_container.append($div_panel_container);	
		$('#quiz_take_form').append($div_question_container);
		question_index++;
	}	
	
	function questionList()
	{
		question_index=0;
		$('#quiz_take_form').empty();
		$.ajax({
			type: "GET",
			url: "/quiz/listQuestions",
			data: { QuizId: '<%= @quiz_id%>'},
			datatype : 'json',
			success : function(data) {
				if (data.success) 
				{
					var index = 0;
					$.each( data.all_pools, function( k, v ){
						$('#quiz_take_form').append('<div class="row" id=""><div class="col-sm-2">[單選題]</div><div class="col-sm-2">[單選總分/測驗總分: 30/100]</div></div>');
						$.each( v, function( kk, vv ){
							index++;
							addFormalQuestion(index, vv.course_id, vv.pool_id, vv.question_id, vv.category, vv.score, vv.subject, vv.options, vv.comment);	
						});
					});	
					
					if(data.left_count==0)
						$('#quiz_take_form').append('<button type="submit" class="btn btn-default" id="submitBasic">確認繳卷</button>');					
					else
						$('#quiz_take_form').append('<button type="submit" class="btn btn-default" id="submitBasic">下一頁</button>');					
																			
				} 
				else 
				{
					courseAlertShow('alert-danger', data.msg)
				}
			}			
		});	
	}


$(function() {
	// handle ajax submit
	questionList();
	var quiz_take_form = $('#quiz_take_form');
	quiz_take_form.submit(function(ev) {	
		var answers = []; 		
		$.each(Categories, function( index, value ) {		
			switch(value.toString()) {
				case '5':	
					var a=[];	
					a.push($('#quiz_take_form textarea[name="answers'+index.toString()+'[]"]').val());
					answers[index]=a;								
	       			break;						
	    		case '2':
	    			var a=[];
	    			var check_selected=false;	
					$('#quiz_take_form input[name="answers'+index.toString()+'[]"]').each(function() {						
						if($(this).prop('checked'))
						{
					    	a.push($(this).data( "option_id" )); 
					    	check_selected=true
					    }						
					});		
					if(!check_selected)
						a.push("");	
					answers[index]=a;												
	        		break;
	    		case '3':
	    			var a=[];	
					$('#quiz_take_form input[name="answers'+index.toString()+'[]"]').each(function() {						
						if($(this).prop('checked'))
					    {
					    	a.push($(this).data( "option_id" )); 
					    	check_selected=true					    	
					    }						
					});	
					if(!check_selected)
						a.push("");							
					answers[index]=a;		    		
	        		break;
	    		case '1':
	    			var a=[];
	    			var check_selected=false;	
					$('#quiz_take_form input[name="answers'+index.toString()+'[]"]').each(function() {						
						if($(this).prop('checked'))
						{
					    	a.push($(this).data( "option_id" )); 
					    	check_selected=true
					    }						
					});		
					if(!check_selected)
						a.push("");	
					answers[index]=a;												
	        		break;	    		        									
			}	
			
		});			
		$.ajax({
			type : quiz_take_form.attr('method'),
			url : quiz_take_form.attr('action'),
			data : {
				quiz_id: '<%=@quiz_id %>',				
				PoolIds: PoolIds,
				Categories:  Categories,
				Answers: answers
			},
			datatype : 'json',
			success : function(data) {
				if (data.success) {
					if(data.left_count!=0)
						questionList();
					else
						document.location.href = '/quiz/show?quiz_id=<%=@quiz_id%>&course_id=<%=@course_id%>';	
				} else 
				{
					courseAlertShow('alert-danger', data.msg)
				}
			}
		});	
		ev.preventDefault();
	});  
});	
</script>