<form action="/quiz/take" method="post" id="quiz_take_form" class="form-horizontal" role="form">

	
	
	
	<div class="form-group">
		<div class="col-sm-offset-1 col-sm-10">
			<button type="submit" class="btn btn-default" id="submitBasic">
				下一頁
			</button>
		</div>
	</div>
</form>
<script>
	addFormalQuestion('abc', 'def', '1', "盧藏用始隱於終南山中,中宗朝累居要職。有道士司馬承禎者,睿宗迎至京,將還,藏用指終南山 謂之曰:「此中大有佳處,何必在遠!」承禎徐答曰:「以僕所觀,乃仕宦捷徑耳。」下列成語, 何者與此故事相關?", { 7: "Saab", 6: "Volvo", 81: "BMW", 65: "GIANT"}, "這題更簡單，你也是不應該不會喔！");
	function addFormalQuestion(pool_id, question_id, category, subject, options, comment){
		
	}

</script>