<form action="/quiz/submitAnswers" method="post" id="quiz_take_form" class="form-horizontal" role="form">
</form>

<script>
	var question_index;
	var PoolIds = []; 	
	var Categories = [];
	function addFormalQuestion(index, course_id, pool_id, question_id, category, score, subject, options) {
		PoolIds.push(pool_id); 			
		Categories.push(category);				
		var $div_question_container = $("<div>", {id: "question_container_"+question_id, class: "container-fluid question_formal"});	
			//subjects
		var $question_subject_row = $("<div>", {class: "row"}); 
		var $question_subject_col = $("<div>", {class: "col-sm-offset-2 col-sm-10"}); 
		var $question_subject_container = $("<div>", {class: "row question_formal_subject_container"}); 
			$question_subject_container.append('<div class="col-sm-1">'+index+'.</div>')
			$question_subject_container.append('<div class="col-sm-11 question_formal_subject">'+subject+'.</div>')
			$question_subject_col.append($question_subject_container);
			$question_subject_row.append($question_subject_col);	
			$div_question_container.append($question_subject_row);	
			//options
		var $question_options_row = $("<div>", {class: "row"}); 
		var $question_options_col = $("<div>", {class: "col-sm-offset-2 col-sm-10"}); 
		var $question_options_container = $("<div>", {class: "row question_formal_options_container"});
		var $question_options_options = $("<div>", {class: "col-sm-11"}); 
			$question_options_container.append('<div class="col-sm-1"></div>')
			$question_options_container.append($question_options_options)
			$question_options_col.append($question_options_container);
			$question_options_row.append($question_options_col);	
			$div_question_container.append($question_options_row);																  
		//category process
		switch(category.toString()) {
	    case '5':
			var $div_options_container = $("<textarea>", {class: "form-control", rows: "3", name: "answers"+question_index.toString()+"[]"});		
	        $question_options_options.append($div_options_container)
	        break;
	    case '2':    
			$.each( options, function( k, v ){			
				var $div_option = $("<div>", {class: "radio"});
				var $div_option_label = $("<label>", {});			
				var $div_option_input = $("<input>", {type: "radio", name: "answers"+question_index.toString()+"[]"});		
				$div_option_input.data( "option_id", v.option_id );		
				$div_option_label.append($div_option_input);			
				$div_option_label.append(v.content);		
				$div_option.append($div_option_label); 			
				$question_options_options.append($div_option);		
			});	   
	        break;
	    case '3':
			$.each( options, function( k, v ){			
				var $div_option = $("<div>", {class: "checkbox"});
				var $div_option_label = $("<label>", {});			
				var $div_option_input = $("<input>", {type: "checkbox", name: "answers"+question_index.toString()+"[]"});		
				$div_option_input.data( "option_id", v.option_id );		
				$div_option_label.append($div_option_input);			
				$div_option_label.append(v.content);		
				$div_option.append($div_option_label); 			
				$question_options_options.append($div_option);		
			});	
	        break;
	    case '1':    
			$.each( options, function( k, v ){			
				var $div_option = $("<div>", {class: "radio"});
				var $div_option_label = $("<label>", {});			
				var $div_option_input = $("<input>", {type: "radio", name: "answers"+question_index.toString()+"[]"});		
				$div_option_input.data( "option_id", v.option_id );		
				$div_option_label.append($div_option_input);			
				$div_option_label.append(v.content);		
				$div_option.append($div_option_label); 			
				$question_options_options.append($div_option);		
			});	   
	        break;		
		} 			
		$('#quiz_take_form').append($div_question_container);
		question_index++;		
	}	
/*	
	function addFormalQuestion(index, course_id, pool_id, question_id, category, score, subject, options, comment) {
		PoolIds.push(pool_id); 			
		Categories.push(category);		
		var $div_question_container = $("<div>", {id: "question_container_"+question_id, class: "col-sm-8"});	    
		var $div_panel_container = $("<div>", {class: "panel panel-default"});
		var $div_panel_heading_container = $("<div>", {class: "panel-heading"});
		var $div_panel_title_container = $("<h3>", {class: "panel-title"});
		var $div_panel_body_container = $("<div>", {class: "panel-body"});
		switch(category.toString()) {
	    case '5':
			var $div_options_container = $("<textarea>", {class: "form-control", rows: "3", name: "answers"+question_index.toString()+"[]"});		
	        break;
	    case '2':
			var $div_options_container = $("<div>", {});	    
			$.each( options, function( k, v ){			
				var $div_option = $("<div>", {class: "radio"});
				var $div_option_label = $("<label>", {});			
				var $div_option_input = $("<input>", {type: "radio", name: "answers"+question_index.toString()+"[]"});		
				$div_option_input.data( "option_id", v.option_id );		
				$div_option_label.append($div_option_input);			
				$div_option_label.append(v.content);		
				$div_option.append($div_option_label); 			
				$div_options_container.append($div_option);		
			});	   
	        break;
	    case '3':
			var $div_options_container = $("<div>", {});	    
			$.each( options, function( k, v ){			
				var $div_option = $("<div>", {class: "checkbox"});
				var $div_option_label = $("<label>", {});			
				var $div_option_input = $("<input>", {type: "checkbox", name: "answers"+question_index.toString()+"[]"});		
				$div_option_input.data( "option_id", v.option_id );		
				$div_option_label.append($div_option_input);			
				$div_option_label.append(v.content);		
				$div_option.append($div_option_label); 			
				$div_options_container.append($div_option);		
			});	
	        break;
	    case '1':
			var $div_options_container = $("<div>", {});	    
			$.each( options, function( k, v ){			
				var $div_option = $("<div>", {class: "radio"});
				var $div_option_label = $("<label>", {});			
				var $div_option_input = $("<input>", {type: "radio", name: "answers"+question_index.toString()+"[]"});		
				$div_option_input.data( "option_id", v.option_id );		
				$div_option_label.append($div_option_input);			
				$div_option_label.append(v.content);		
				$div_option.append($div_option_label); 			
				$div_options_container.append($div_option);		
			});	   
	        break;		
		} 		
		$div_panel_title_container.html(subject);					
		$div_panel_heading_container.append($div_panel_title_container);	
		$div_panel_body_container.append($div_options_container);										
		$div_panel_container.append($div_panel_heading_container);		
		$div_panel_container.append($div_panel_body_container);
		$div_question_container.append($div_panel_container);	
		$('#quiz_take_form').append($div_question_container);
		question_index++;
	}	
*/	
	function questionList()
	{
		question_index=0;
		$('#quiz_take_form').empty();
		$.ajax({
			type: "GET",
			url: "/quiz/listQuestions",
			data: { QuizId: '<%= @quiz_id%>'},
			datatype : 'json',
			success : function(data) {
				if (data.success) 
				{
					var index = 0;
					$.each( data.all_pools, function( k, v ){
						
						var category_title=''
						var $question_formal_category_container = $("<div>", {class: "container-fluid question_formal_category_container"}); 	
						var $question_formal_category_container_row = $("<div>", {class: "row question_formal_category_container_row"}); 
						switch(k) {
						    case '1':
						    	category_title='是非題'
						        break;
						    case '2':
						        category_title='單選題'
						        break;
						    case '3':
						        category_title='複選題'
						        break;
						    case '5':
						        category_title='簡答題'
						        break;						        
						} 						
						$question_formal_category_container_row.append('<div class="col-sm-2">['+
																		category_title+
																		'][本大題配分'+
																		data.pools_score[k]+
																		'分]</div>'); 
						$question_formal_category_container.append($question_formal_category_container_row); 
						$('#quiz_take_form').append($question_formal_category_container);		
																
						$.each( v, function( kk, vv ){
							index++;
							addFormalQuestion(index, vv.course_id, vv.pool_id, vv.question_id, vv.category, vv.score, vv.subject, vv.options);	
						});
					});	
					
					if(data.left_count==0)
						$('#quiz_take_form').append('<div class="container-fluid" style="padding-top: 15px;"><div class="row"><div class="col-sm-offset-10 col-sm-1"><button type="submit" class="btn btn-default" id="submitBasic">確認繳卷</button></div></div></div>');					
					else
						$('#quiz_take_form').append('<div class="container-fluid" style="padding-top: 15px;"><div class="row"><div class="col-sm-offset-10 col-sm-1"><button type="submit" class="btn btn-default" id="submitBasic">下一頁</button></div></div></div>');					
																			
				} 
				else 
				{
					courseAlertShow('alert-danger', data.msg)
				}
			}			
		});	
	}


$(function() {
	// handle ajax submit
	questionList();
	var quiz_take_form = $('#quiz_take_form');
	quiz_take_form.submit(function(ev) {	
		var answers = []; 		
		$.each(Categories, function( index, value ) {		
			switch(value.toString()) {
				case '5':	
					var a=[];	
					a.push($('#quiz_take_form textarea[name="answers'+index.toString()+'[]"]').val());
					answers[index]=a;								
	       			break;						
	    		case '2':
	    			var a=[];
	    			var check_selected=false;	
					$('#quiz_take_form input[name="answers'+index.toString()+'[]"]').each(function() {						
						if($(this).prop('checked'))
						{
					    	a.push($(this).data( "option_id" )); 
					    	check_selected=true
					    }						
					});		
					if(!check_selected)
						a.push("");	
					answers[index]=a;												
	        		break;
	    		case '3':
	    			var a=[];	
					$('#quiz_take_form input[name="answers'+index.toString()+'[]"]').each(function() {						
						if($(this).prop('checked'))
					    {
					    	a.push($(this).data( "option_id" )); 
					    	check_selected=true					    	
					    }						
					});	
					if(!check_selected)
						a.push("");							
					answers[index]=a;		    		
	        		break;
	    		case '1':
	    			var a=[];
	    			var check_selected=false;	
					$('#quiz_take_form input[name="answers'+index.toString()+'[]"]').each(function() {						
						if($(this).prop('checked'))
						{
					    	a.push($(this).data( "option_id" )); 
					    	check_selected=true
					    }						
					});		
					if(!check_selected)
						a.push("");	
					answers[index]=a;												
	        		break;	    		        									
			}	
			
		});			
		$.ajax({
			type : quiz_take_form.attr('method'),
			url : quiz_take_form.attr('action'),
			data : {
				quiz_id: '<%=@quiz_id %>',				
				PoolIds: PoolIds,
				Categories:  Categories,
				Answers: answers
			},
			datatype : 'json',
			success : function(data) {
				if (data.success) {
					if(data.left_count!=0)
						questionList();
					else
						document.location.href = '/quiz/show?quiz_id=<%=@quiz_id%>&course_id=<%=@course_id%>';	
				} else 
				{
					courseAlertShow('alert-danger', data.msg)
				}
			}
		});	
		ev.preventDefault();
	});  
});	
</script>