<!--
<div class="row">
  <div class="col-sm-8 area_dropdown" id="pool_form_dropdown">
  	<span class="area_dropdown_title">題庫出題</span><span class="area_dropdown_icon glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
  </div>	
</div>
<br>
<br>
-->
<div class="row">
  <div class="col-sm-8 area_dropdown" id="self_form_dropdown">
  	<span class="area_dropdown_title">自行出題</span><span id="self_form_dropdown_icon" class="area_dropdown_icon glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
  </div>	
</div>
<div class="row">
  <br>	
  <div class="col-sm-8" id="self_form_dropdown_content">
		<form action="/quiz_tea/updatePool" method="post" id="quiz_pool_form" class="form-horizontal" role="form">	
 			<input type="hidden" name="pool_id" id="pool_id" value=""> 			
			<div class="form-group">
				<div class="col-sm-10">
					<select class="form-control" id="pool_category">
						<option value="-1">請選擇</option>
						<option value="0">簡答題</option>
						<option value="1">單選題</option>
						<option value="2">複選題</option>
						<option value="3">是非題</option>
					</select>
				</div>					
			</div>			
			<div class="form-group">
				<div class="col-sm-10">
				<textarea class="form-control" rows="3" placeholder="題目" id="pool_subject"></textarea>
				</div>
			</div>
			<div class="form-group">	
				<div class="col-sm-10" id="option_field">	
				</div>					
			</div>					
			<div class="form-group">	
				<div class="col-sm-10">	
					<textarea class="form-control" rows="3" placeholder="回饋" id="pool_comment"></textarea>
				</div>					
			</div>	
			<div class="form-group">
				<div class="col-sm-10">
					<button type="submit" class="btn btn-default" id="submitPool">
						儲存本題
					</button>
				</div>
			</div>				
		</form>	
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-2" style="font-size: 16px; border-bottom: 1.5px solid #582B32; ">題目預覽</div>  	  	  	
</div>
<br>
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-7" style="font-size: 15px;">題目</div>
  <div class="col-sm-1" style="font-size: 15px;">備註</div>
  <div class="col-sm-1" style="font-size: 15px;">操作</div>	  	  	  	
</div>
<div id="question_list">
</div>
<script>
function addQuestion(index, course_id, pool_id, question_id, category, subject, options, comment) {
		var $div_question_container = $("<div>", {id: "question_container_"+question_id, class: "question_eg"});	
			//question_eg_question_outter
		var $question_eg_question_outter =$("<div>", {class: "row question_eg_question_outter"}); 
			$question_eg_question_outter.append('<div class="col-sm-1"></div>');			
			$question_eg_question_outter.append('<div class="col-sm-1">'+index+'.</div>');		
			$question_eg_question_outter.append('<div class="col-sm-7 question_eg_question_container">'+subject+'</div>');		
		var $question_eg_question_note= $("<div>", {class: "col-sm-1"}); 
			$question_eg_question_outter.append($question_eg_question_note);			
		var $question_eg_question_mani_container= $("<div>", {class: "col-sm-1"}); 	
		var $span_edit = $("<span>", {id: "pool_edit_"+pool_id, class: "question_eg_question_mani glyphicon glyphicon-edit", 'aria-hidden': "true"});
			$question_eg_question_mani_container.append($span_edit)
		var $span_del = $("<span>", {id: "pool_del_"+pool_id, class: "question_eg_question_mani glyphicon glyphicon-trash", 'aria-hidden': "true"});
			$question_eg_question_mani_container.append($span_del)
			$question_eg_question_outter.append($question_eg_question_mani_container);		
			$div_question_container.append($question_eg_question_outter);	
			//question_eg_comment_outter
		if(comment){
			var $question_eg_comment_outter =$("<div>", {class: "row question_eg_comment_outter"}); 
				$question_eg_comment_outter.append('<div class="col-sm-2"></div>');	
				$question_eg_comment_outter.append('<div class="col-sm-7 question_eg_options_comment">回饋：'+comment+'</div>');	
				$div_question_container.append($question_eg_comment_outter);	
		}
			//question_eg_options_title_outter			
		var $question_eg_options_title_outter =$("<div>", {class: "row question_eg_options_title_outter"}); 
			$question_eg_options_title_outter.append('<div class="col-sm-2"></div>');	
		var $question_eg_options_title =$("<div>", {class: "col-sm-7 question_eg_options_title"}); 
			$question_eg_options_title_outter.append($question_eg_options_title);
			$div_question_container.append($question_eg_options_title_outter);	
			//question_eg_options_outter				
		var $question_eg_options_outter =$("<div>", {class: "row question_eg_options_outter"}); 
			$question_eg_options_outter.append('<div class="col-sm-2"></div>');	
		var $question_eg_options_container =$("<div>", {class: "col-sm-7 question_eg_options_container"}); 			
			$question_eg_options_outter.append($question_eg_options_container);
			$div_question_container.append($question_eg_options_outter);										  
		//category process
		switch(category.toString()) {
	    case '0':
	    	$question_eg_options_title.html('參考答案');
			$question_eg_question_note.html('填充');	    	
			for(firstKey in options);
			if(typeof firstKey != 'undefined') 
				$question_eg_options_container.html(options[firstKey].content);	
			$span_edit.click(function(){  	
		    	$('#pool_subject').slideDown({duration: 400, easing: 'swing'});
		    	$('#pool_comment').slideDown({duration: 400, easing: 'swing'});	    	
		    	$('#submitPool').slideDown({duration: 400, easing: 'swing'});								
				$('#pool_id').val(pool_id);				
				$("#pool_subject").val(subject);
				$("#pool_category").val(category).change();	
				if(typeof firstKey != 'undefined') 			
					$('#quiz_pool_form textarea[name="options[]"]').val(options[firstKey].content); 		
				$("#pool_comment").val(comment);									
			});				
	        break;
	    case '1':	    
	    	$question_eg_options_title.html('選項與答案');
			$question_eg_question_note.html('單選');	 	    		    
			$.each( options, function( k, v ){				
				var $div_radio_container = $("<div>", {id: "question_container_"+question_id, class: "radio disabled"});	
				var $div_label_container = $("<label>", {});	
				if(v.isAnswer) 
					$div_label_container.append('<input type="radio" name="optionsRadios_'+pool_id+'" id="optionsRadios'+v.option_id+'" checked="checked" disabled>'+v.content);
				else
					$div_label_container.append('<input type="radio" name="optionsRadios_'+pool_id+'" id="optionsRadios'+v.option_id+'" disabled>'+v.content);					
				$div_radio_container.append($div_label_container);
				$question_eg_options_container.append($div_radio_container);
			});	    
			$span_edit.click(function(){  
		    	$('#pool_subject').slideDown({duration: 400, easing: 'swing'});
		    	$('#pool_comment').slideDown({duration: 400, easing: 'swing'});	    	
		    	$('#submitPool').slideDown({duration: 400, easing: 'swing'});					
				$('#pool_id').val(pool_id);					
				$("#pool_subject").val(subject);
				$("#pool_category").val(category).change();		
				$.each( options, function( k, v ){
					var li_html='<li>'+
		            '<div class="row">'+
		            '<div class="col-sm-5"><textarea class="form-control" rows="2" placeholder="選項" name="options[]">'+v.content+'</textarea></div>'+
		            '<div class="col-sm-2">';
		            if(v.isAnswer)
		            	li_html=li_html+'<label class="checkbox-inline"><input type="radio" name="answers[]" checked="checked">此為解答</label></div>';
		            else
		            	li_html=li_html+'<label class="checkbox-inline"><input type="radio" name="answers[]">此為解答</label></div>';		            		
					li_html=li_html+'<div class="col-sm-1"><a href="#" class="remove_option btn btn-danger">刪除</a></div>'+
		            		'</div>'+
		            		'</li>'					
		            $('.option_list_field').append(li_html);						
				});	 						
				$("#pool_comment").val(comment);					
			});		
	        break;
	    case '2':
	    	$question_eg_options_title.html('選項與答案');
			$question_eg_question_note.html('複選');	 	    		    
			$.each( options, function( k, v ){				
				var $div_radio_container = $("<div>", {id: "question_container_"+question_id, class: "radio disabled"});	
				var $div_label_container = $("<label>", {});	
				if(v.isAnswer) 
					$div_label_container.append('<input type="checkbox" name="optionsRadios_'+pool_id+'" id="optionsRadios'+v.option_id+'" checked="checked" disabled>'+v.content);
				else
					$div_label_container.append('<input type="checkbox" name="optionsRadios_'+pool_id+'" id="optionsRadios'+v.option_id+'" disabled>'+v.content);					
				$div_radio_container.append($div_label_container);
				$question_eg_options_container.append($div_radio_container);
			});	    
			$span_edit.click(function(){  
		    	$('#pool_subject').slideDown({duration: 400, easing: 'swing'});
		    	$('#pool_comment').slideDown({duration: 400, easing: 'swing'});	    	
		    	$('#submitPool').slideDown({duration: 400, easing: 'swing'});					
				$('#pool_id').val(pool_id);					
				$("#pool_subject").val(subject);
				$("#pool_category").val(category).change();		
				$.each( options, function( k, v ){
					var li_html='<li>'+
		            '<div class="row">'+
		            '<div class="col-sm-5"><textarea class="form-control" rows="2" placeholder="選項" name="options[]">'+v.content+'</textarea></div>'+
		            '<div class="col-sm-2">';
		            if(v.isAnswer)
		            	li_html=li_html+'<label class="checkbox-inline"><input type="checkbox" name="answers[]" checked="checked">此為解答</label></div>';
		            else
		            	li_html=li_html+'<label class="checkbox-inline"><input type="checkbox" name="answers[]">此為解答</label></div>';		            		
					li_html=li_html+'<div class="col-sm-1"><a href="#" class="remove_option btn btn-danger">刪除</a></div>'+
		            		'</div>'+
		            		'</li>'					
		            $('.option_list_field').append(li_html);						
				});	 						
				$("#pool_comment").val(comment);					
			});		    
	        break;
	    case '3':
	    	$question_eg_options_title.html('選項與答案');
			$question_eg_question_note.html('是非');	 	    		    
			$.each( options, function( k, v ){				
				var $div_radio_container = $("<div>", {id: "question_container_"+question_id, class: "radio disabled"});	
				var $div_label_container = $("<label>", {});	
				if(v.isAnswer) 
					$div_label_container.append('<input type="radio" name="optionsRadios_'+pool_id+'" id="optionsRadios'+v.option_id+'" checked="checked" disabled>'+v.content);
				else
					$div_label_container.append('<input type="radio" name="optionsRadios_'+pool_id+'" id="optionsRadios'+v.option_id+'" disabled>'+v.content);					
				$div_radio_container.append($div_label_container);
				$question_eg_options_container.append($div_radio_container);
			});	    
			$span_edit.click(function(){  
		    	$('#pool_subject').slideDown({duration: 400, easing: 'swing'});
		    	$('#pool_comment').slideDown({duration: 400, easing: 'swing'});	    	
		    	$('#submitPool').slideDown({duration: 400, easing: 'swing'});					
				$('#pool_id').val(pool_id);					
				$("#pool_subject").val(subject);
				$("#pool_category").val(category).change();		
				$.each( options, function( k, v ){
					var li_html='<li>'+
		            '<div class="row">'+
		            '<div class="col-sm-5"><textarea class="form-control" rows="2" placeholder="選項" name="options[]">'+v.content+'</textarea></div>'+
		            '<div class="col-sm-2">';
		            if(v.isAnswer)
		            	li_html=li_html+'<label class="checkbox-inline"><input type="radio" name="answers[]" checked="checked">此為解答</label></div>';
		            else
		            	li_html=li_html+'<label class="checkbox-inline"><input type="radio" name="answers[]">此為解答</label></div>';		            		
					li_html=li_html+'<div class="col-sm-1"><a href="#" class="remove_option btn btn-danger">刪除</a></div>'+
		            		'</div>'+
		            		'</li>'					
		            $('.option_list_field').append(li_html);						
				});	 						
				$("#pool_comment").val(comment);					
			});		    
	        break;		
		} 	
		$span_del.click(function(){  
			$.ajax({
				type: "GET",
				url: "/quiz_tea/deleteQuestion",
				data: { QuestionId: question_id, CourseId: '<%=@result['CourseId']%>'},
				datatype : 'json',
				success : function(data) {
					if (data.success) {
						questionList();											
					} else {
						courseAlertShow('alert-danger', data.msg)
					}
				}			
			});						
		});					
		$('#question_list').append($div_question_container);
	}	
	// list Question
	function questionList()
	{
		$('#question_list').empty();
		$.ajax({
			type: "GET",
			url: "/quiz_tea/listQuestions",
			data: { QuizId: '<%= @result['QuizId']%>'},
			datatype : 'json',
			success : function(data) {
				if (data.success) {
					//courseAlertShow('alert-success', data.msg)
					var index=0;
					$.each( data.pools, function( k, v ){
						index++;
						addQuestion(index, v.course_id, v.pool_id, v.question_id, v.category, v.subject, v.options, v.comment);	
					});											
				} else {
					courseAlertShow('alert-danger', data.msg)
				}
			}			
		});	
	}


$(function() {
	// dropdown
	/*
	$('#self_form_dropdown_content').hide();
	$('#self_form_dropdown').data( "folded", true );
	$("#self_form_dropdown" ).click(function() {
		if( $("#self_form_dropdown").data("folded") )
		{
			$('#self_form_dropdown_content').slideDown({duration: 400, easing: 'swing'});	
			$('#self_form_dropdown_icon' ).removeClass( "glyphicon-chevron-down" );
			$('#self_form_dropdown_icon' ).addClass( "glyphicon-chevron-up" );	
			$('#self_form_dropdown').data( "folded", false );
		}	
		else
		{
			$('#self_form_dropdown_content').slideUp({duration: 400, easing: 'swing'});	
			$('#self_form_dropdown_icon' ).removeClass( "glyphicon-chevron-up" );
			$('#self_form_dropdown_icon' ).addClass( "glyphicon-chevron-down" );
			$('#self_form_dropdown').data( "folded", true );				
		}		
	});			
	*/
	//tabs
	$('#quiz_form_basic_button').click(function(ev) {
		ev.preventDefault();
    	$('#quiz_form_basic_button').tab('show');
	});
	//pools
	$('#pool_subject').hide();	
	$('#pool_comment').hide();	
	$('#submitPool').hide();		
	questionList();
	$( "#pool_category" ).change(function() {
		$("#option_field").empty();
		switch($(this).val()) {
	    case '-1':	    	
	    	$('#pool_subject').slideUp({duration: 400, easing: 'swing'});	
	    	$('#pool_comment').slideUp({duration: 400, easing: 'swing'});	
	    	$('#submitPool').slideUp({duration: 400, easing: 'swing'});		    	    		    
	        break;			
	    case '0':	    	
	    	$('#pool_subject').slideDown({duration: 400, easing: 'swing'});
	    	$('#pool_comment').slideDown({duration: 400, easing: 'swing'});	    	
	    	$('#submitPool').slideDown({duration: 400, easing: 'swing'});			        
	        $("#option_field").append('<textarea class="form-control" rows="3" placeholder="答案" name="options[]"></textarea>');
	        break;
	    case '1':
	    	$('#pool_subject').slideDown({duration: 400, easing: 'swing'});
	    	$('#pool_comment').slideDown({duration: 400, easing: 'swing'});
	    	$('#submitPool').slideDown({duration: 400, easing: 'swing'});		    			    
	   		$("#option_field").append('<ol type="A" class="option_list_field"></ol><a class="btn btn-default add_option_button_single">新增選項</a>');
	        break;
	    case '2':
	    	$('#pool_subject').slideDown({duration: 400, easing: 'swing'});
	    	$('#pool_comment').slideDown({duration: 400, easing: 'swing'});	
	    	$('#submitPool').slideDown({duration: 400, easing: 'swing'});		    		    
	   		$("#option_field").append('<ol type="A" class="option_list_field"></ol><a class="btn btn-default add_option_button_multi">新增選項</a>');	    
	        break;
	    case '3':
	    	$('#pool_subject').slideDown({duration: 400, easing: 'swing'});
	    	$('#pool_comment').slideDown({duration: 400, easing: 'swing'});	
	    	$('#submitPool').slideDown({duration: 400, easing: 'swing'});		    		    
	   		$("#option_field").append('<div class="row">'+
            '<div class="col-sm-5"><input class="form-control" type="text" name="options[]" value="是" disabled></div>'+
            '<div class="col-sm-2"><label class="radio-inline"><input type="radio" name="answers[]">此為解答</label></div>'+             
            '</div>'+
			'<div class="row">'+
            '<div class="col-sm-5"><input class="form-control" type="text" name="options[]" value="否" disabled></div>'+
            '<div class="col-sm-2"><label class="radio-inline"><input type="radio" name="answers[]">此為解答</label></div>'+             
            '</div>'            
            );   
	        break;                
		} 
	});	
	//$("#pool_category").val('0').change();
    //var option_index = 1; //initlal text box count
     
    //single
    $('#option_field').on("click",".add_option_button_single", function(e){ //on add input button click
        	e.preventDefault();
            //option_index++; 
            $('.option_list_field').append('<li>'+
            '<div class="row">'+
            '<div class="col-sm-5"><textarea class="form-control" rows="2" placeholder="選項" name="options[]"></textarea></div>'+
            '<div class="col-sm-2"><label class="checkbox-inline"><input type="radio" name="answers[]">此為解答</label></div>'+             
            '<div class="col-sm-1"><a href="#" class="remove_option btn btn-danger">刪除</a></div>'+
            '</div>'+
            '</li>');
    });
    $('#option_field').on("click",".remove_option", function(e){ //user click on remove text
        e.preventDefault(); $(this).parent().parent().parent('li').remove(); //option_index--;
    })     
    //multi
    $('#option_field').on("click",".add_option_button_multi", function(e){ //on add input button click
        	e.preventDefault();
            //option_index++; 
            $('.option_list_field').append('<li>'+
            '<div class="row">'+
            '<div class="col-sm-5"><textarea class="form-control" rows="2" placeholder="選項" name="options[]"></textarea></div>'+
            '<div class="col-sm-2"><label class="checkbox-inline"><input type="checkbox" name="answers[]">此為解答</label></div>'+             
            '<div class="col-sm-1"><a href="#" class="remove_option btn btn-danger">刪除</a></div>'+
            '</div>'+
            '</li>');
    });
    $('#option_field').on("click",".remove_option", function(e){ //user click on remove text
        e.preventDefault(); $(this).parent().parent().parent('li').remove(); //option_index--;
    })    
	// handle ajax submit
	var quiz_pool_form = $('#quiz_pool_form');
	quiz_pool_form.submit(function(ev) {		
		//handle options
		var options = []; 	
		//handle answers		
		var answers = []; 	
		switch($('#pool_category').val()) {
	    case '0':
			$('#quiz_pool_form textarea[name="options[]"]').each(function() {
			    options.push($(this).val()); 
			});		    
	    	answers.push(true);	    	
	        break;
	    case '1':
			$('#quiz_pool_form textarea[name="options[]"]').each(function() {
			    options.push($(this).val()); 
			});		    
			$('#quiz_pool_form input[name="answers[]"]').each(function() {
				if($(this).prop('checked'))
				{
			    	answers.push(true); 				
				}
				else
			    	answers.push(false); 		
			});		       
	        break;
	    case '2':
			$('#quiz_pool_form textarea[name="options[]"]').each(function() {
			    options.push($(this).val()); 
			});		    
			$('#quiz_pool_form input[name="answers[]"]').each(function() {
				if($(this).prop('checked'))
				{
			    	answers.push(true); 				
				}
				else
			    	answers.push(false); 				
			});		 	    
	        break;     
	    case '3':  
			$('#quiz_pool_form input[name="options[]"]').each(function() {
			    options.push($(this).val()); 
			});		    
			$('#quiz_pool_form input[name="answers[]"]').each(function() {
				if($(this).prop('checked'))
				{
			    	answers.push(true); 				
				}
				else
			    	answers.push(false); 				
			});		     
	        break;	                   
		} 
		$.ajax({
			type : quiz_pool_form.attr('method'),
			url : quiz_pool_form.attr('action'),
			data : {
				PoolId: $('#pool_id').val(),	 
				CourseId: '<%=@result['CourseId']%>',
				QuizId: '<%=@result['QuizId']%>',				
				Subject : $('#pool_subject').val(),				
				Category: $('#pool_category').val(),
				Comment:  $('#pool_comment').val(),
				Options: options,
				Answers: answers
			},
			datatype : 'json',
			success : function(data) {
				if (data.success) {
					courseAlertShow('alert-success', '成功新增題目');			 					
					questionList();	
					$('#pool_id').val('');
					$('#pool_subject').val('');
				 	$('#pool_comment').val('');	
					$("#option_field").empty();					 						
					$("#pool_category").val('-1').change();																
				} else {
					courseAlertShow('alert-danger', data.msg)
				}
			}
		});
		ev.preventDefault();
	});    
    
});
</script>