<div id="question_list">
</div>
<script>
function addQuestion(index, course_id, pool_id, question_id, category, subject, options, comment) {
		var $div_question_container = $("<div>", {id: "question_container_"+question_id, class: "question_eg"});	
			//question_eg_question_outter
		var $question_eg_question_outter =$("<div>", {class: "row question_eg_question_outter"}); 
			$question_eg_question_outter.append('<div class="col-sm-1"></div>');			
			$question_eg_question_outter.append('<div class="col-sm-1">'+index+'.</div>');		
			$question_eg_question_outter.append('<div class="col-sm-7 question_eg_question_container">'+subject+'</div>');		
		var $question_eg_question_note= $("<div>", {class: "col-sm-1"}); 
			$question_eg_question_outter.append($question_eg_question_note);			
		var $question_eg_question_mani_container= $("<div>", {class: "col-sm-1"}); 	
		var $span_edit = $("<span>", {id: "pool_edit_"+pool_id, class: "question_eg_question_mani glyphicon glyphicon-edit", 'aria-hidden': "true"});
			$question_eg_question_mani_container.append($span_edit)
		var $span_del = $("<span>", {id: "pool_del_"+pool_id, class: "question_eg_question_mani glyphicon glyphicon-trash", 'aria-hidden': "true"});
			$question_eg_question_mani_container.append($span_del)
			$question_eg_question_outter.append($question_eg_question_mani_container);		
			$div_question_container.append($question_eg_question_outter);	
			//question_eg_comment_outter
		if(comment){
			var $question_eg_comment_outter =$("<div>", {class: "row question_eg_comment_outter"}); 
				$question_eg_comment_outter.append('<div class="col-sm-2"></div>');	
				$question_eg_comment_outter.append('<div class="col-sm-7 question_eg_options_comment">回饋：'+comment+'</div>');	
				$div_question_container.append($question_eg_comment_outter);	
		}
			//question_eg_options_title_outter			
		var $question_eg_options_title_outter =$("<div>", {class: "row question_eg_options_title_outter"}); 
			$question_eg_options_title_outter.append('<div class="col-sm-2"></div>');	
		var $question_eg_options_title =$("<div>", {class: "col-sm-7 question_eg_options_title"}); 
			$question_eg_options_title_outter.append($question_eg_options_title);
			$div_question_container.append($question_eg_options_title_outter);	
			//question_eg_options_outter				
		var $question_eg_options_outter =$("<div>", {class: "row question_eg_options_outter"}); 
			$question_eg_options_outter.append('<div class="col-sm-2"></div>');	
		var $question_eg_options_container =$("<div>", {class: "col-sm-7 question_eg_options_container"}); 			
			$question_eg_options_outter.append($question_eg_options_container);
			$div_question_container.append($question_eg_options_outter);										  
		//category process
		switch(category.toString()) {
	    case '5':
	    	$question_eg_options_title.html('參考答案');
			$question_eg_question_note.html('填充');	    	
			for(firstKey in options);
			if(typeof firstKey != 'undefined') 
				$question_eg_options_container.html(options[firstKey].content);	
			$span_edit.click(function(){  	
		    	$('#pool_subject').slideDown({duration: 400, easing: 'swing'});
		    	$('#pool_comment').slideDown({duration: 400, easing: 'swing'});	    	
		    	$('#submitPool').slideDown({duration: 400, easing: 'swing'});								
				$('#pool_id').val(pool_id);				
				$("#pool_subject").val(subject);
				$("#pool_category").val(category).change();	
				if(typeof firstKey != 'undefined') 			
					$('#quiz_pool_form textarea[name="options[]"]').val(options[firstKey].content); 		
				$("#pool_comment").val(comment);									
			});				
	        break;
	    case '2':	    
	    	$question_eg_options_title.html('選項與答案');
			$question_eg_question_note.html('單選');	 	    		    
			$.each( options, function( k, v ){				
				var $div_radio_container = $("<div>", {id: "question_container_"+question_id, class: "radio disabled"});	
				var $div_label_container = $("<label>", {});	
				if(v.isAnswer) 
					$div_label_container.append('<input type="radio" name="optionsRadios_'+pool_id+'" id="optionsRadios'+v.option_id+'" checked="checked" disabled>'+v.content);
				else
					$div_label_container.append('<input type="radio" name="optionsRadios_'+pool_id+'" id="optionsRadios'+v.option_id+'" disabled>'+v.content);					
				$div_radio_container.append($div_label_container);
				$question_eg_options_container.append($div_radio_container);
			});	    
			$span_edit.click(function(){  
		    	$('#pool_subject').slideDown({duration: 400, easing: 'swing'});
		    	$('#pool_comment').slideDown({duration: 400, easing: 'swing'});	    	
		    	$('#submitPool').slideDown({duration: 400, easing: 'swing'});					
				$('#pool_id').val(pool_id);					
				$("#pool_subject").val(subject);
				$("#pool_category").val(category).change();		
				$.each( options, function( k, v ){
					var li_html='<li>'+
		            '<div class="row">'+
		            '<div class="col-sm-5"><textarea class="form-control" rows="2" placeholder="選項" name="options[]">'+v.content+'</textarea></div>'+
		            '<div class="col-sm-2">';
		            if(v.isAnswer)
		            	li_html=li_html+'<label class="radio-inline"><input type="radio" name="answers[]" checked="checked">此為解答</label></div>';
		            else
		            	li_html=li_html+'<label class="radio-inline"><input type="radio" name="answers[]">此為解答</label></div>';		            		
					li_html=li_html+'<div class="col-sm-1"><span href="#" class="form_options_mani remove_option question_eg_question_mani glyphicon glyphicon-trash" aria-hidden="true"></span></div>'+
		            		'</div></li>'					
		            $('.option_list_field').append(li_html);						
				});	 						
				$("#pool_comment").val(comment);					
			});		
	        break;
	    case '3':
	    	$question_eg_options_title.html('選項與答案');
			$question_eg_question_note.html('複選');	 	    		    
			$.each( options, function( k, v ){				
				var $div_radio_container = $("<div>", {id: "question_container_"+question_id, class: "radio disabled"});	
				var $div_label_container = $("<label>", {});	
				if(v.isAnswer) 
					$div_label_container.append('<input type="checkbox" name="optionsRadios_'+pool_id+'" id="optionsRadios'+v.option_id+'" checked="checked" disabled>'+v.content);
				else
					$div_label_container.append('<input type="checkbox" name="optionsRadios_'+pool_id+'" id="optionsRadios'+v.option_id+'" disabled>'+v.content);					
				$div_radio_container.append($div_label_container);
				$question_eg_options_container.append($div_radio_container);
			});	    
			$span_edit.click(function(){  
		    	$('#pool_subject').slideDown({duration: 400, easing: 'swing'});
		    	$('#pool_comment').slideDown({duration: 400, easing: 'swing'});	    	
		    	$('#submitPool').slideDown({duration: 400, easing: 'swing'});					
				$('#pool_id').val(pool_id);					
				$("#pool_subject").val(subject);
				$("#pool_category").val(category).change();		
				$.each( options, function( k, v ){
					var li_html='<li>'+
		            '<div class="row">'+
		            '<div class="col-sm-5"><textarea class="form-control" rows="2" placeholder="選項" name="options[]">'+v.content+'</textarea></div>'+
		            '<div class="col-sm-2">';
		            if(v.isAnswer)
		            	li_html=li_html+'<label class="checkbox-inline"><input type="checkbox" name="answers[]" checked="checked">此為解答</label></div>';
		            else
		            	li_html=li_html+'<label class="checkbox-inline"><input type="checkbox" name="answers[]">此為解答</label></div>';		            		
						li_html=li_html+'<div class="col-sm-1"><span href="#" class="form_options_mani remove_option question_eg_question_mani glyphicon glyphicon-trash" aria-hidden="true"></span></div>'+
		            			'</div>'+
		            			'</li>'					
		            $('.option_list_field').append(li_html);						
				});	 						
				$("#pool_comment").val(comment);					
			});		    
	        break;
	    case '1':
	    	$question_eg_options_title.html('選項與答案');
			$question_eg_question_note.html('是非');	 	    		    
			$.each( options, function( k, v ){				
				var $div_radio_container = $("<div>", {id: "question_container_"+question_id, class: "radio disabled"});	
				var $div_label_container = $("<label>", {});	
				if(v.isAnswer) 
					$div_label_container.append('<input type="radio" name="optionsRadios_'+pool_id+'" id="optionsRadios'+v.option_id+'" checked="checked" disabled>'+v.content);
				else
					$div_label_container.append('<input type="radio" name="optionsRadios_'+pool_id+'" id="optionsRadios'+v.option_id+'" disabled>'+v.content);					
				$div_radio_container.append($div_label_container);
				$question_eg_options_container.append($div_radio_container);
			});	    
			$span_edit.click(function(){  
		    	$('#pool_subject').slideDown({duration: 400, easing: 'swing'});
		    	$('#pool_comment').slideDown({duration: 400, easing: 'swing'});	    	
		    	$('#submitPool').slideDown({duration: 400, easing: 'swing'});					
				$('#pool_id').val(pool_id);					
				$("#pool_subject").val(subject);
				$("#pool_category").val(category).change();		
				$.each( options, function( k, v ){
					var li_html='<li>'+
		            '<div class="row">'+
		            '<div class="col-sm-5"><textarea class="form-control" rows="2" placeholder="選項" name="options[]">'+v.content+'</textarea></div>'+
		            '<div class="col-sm-2">';
		            if(v.isAnswer)
		            	li_html=li_html+'<label class="radio-inline"><input type="radio" name="answers[]" checked="checked">此為解答</label></div>';
		            else
		            	li_html=li_html+'<label class="radio-inline"><input type="radio" name="answers[]">此為解答</label></div>';		            		
					li_html=li_html+'<div class="col-sm-1"><a href="#" class="remove_option btn btn-danger">刪除</a></div>'+
		            		'</div>'+
		            		'</li>'					
		            $('.option_list_field').append(li_html);						
				});	 						
				$("#pool_comment").val(comment);					
			});		    
	        break;		
		} 	
		$span_del.click(function(){  
			$.ajax({
				type: "GET",
				url: "/quiz_tea/deleteQuestion",
				data: { QuestionId: question_id, CourseId: '<%=@course_id%>'},
				datatype : 'json',
				success : function(data) {
					if (data.success) {
						questionList();											
					} else {
						courseAlertShow('alert-danger', data.msg)
					}
				}			
			});						
		});					
		$('#question_list').append($div_question_container);
	}	
	// list Question
	function questionList()
	{
		$('#question_list').empty();
		$.ajax({
			type: "GET",
			url: "/quiz_tea/listQuestions",
			data: { QuizId: '<%= @quiz_id%>', Draft: false},
			datatype : 'json',
			success : function(data) {
				if (data.success) {
					//courseAlertShow('alert-success', data.msg)
					var index=0;
					$.each( data.pools, function( k, v ){
						index++;
						addQuestion(index, v.course_id, v.pool_id, v.question_id, v.category, v.subject, v.options, v.comment);	
					});											
				} else {
					courseAlertShow('alert-danger', data.msg)
				}
			}			
		});	
	}


$(function() {
	
	questionList();
            
});
</script>