<br>
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">基本設定</a></li>
  <li role="presentation"><a href="#">編輯題目</a></li>
  <li role="presentation"><a href="#">答案/成績設定</a></li>
</ul>
<br>
<div>
<form class="form-horizontal" role="form">
  <div class="form-group">
    <div class="col-sm-10">
      <input type="text" class="form-control" name="Caption" placeholder="測驗名稱">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10">
    	<textarea class="form-control" rows="3" name="Content" placeholder="內容說明"></textarea>
    </div>
  </div>  
  <div class="form-group">
    <label class="col-sm-1 control-label">開始時間</label>  	
    <div class="col-sm-9">
      <input type="text" class="form-control" name="BeginDate">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-1 control-label">截止時間</label> 	
    <div class="col-sm-9">
      <input type="text" class="form-control" name="EndDate">
    </div>
  </div>    
  <div class="form-group">
    <label class="col-sm-1 control-label">種類</label>
    <div class="col-sm-9">
		<select class="form-control" name="QuizType">
		  <option value="1">隨堂考</option>
		  <option value="2">期中考</option>
		  <option value="3">期末考</option>
		  <option value="0">其它</option>
		</select>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-1 control-label">參與方式</label>
    <div class="col-sm-9">
		<select class="form-control" name="Invited">
		  <option value="0">所有修課生</option>
		  <option value="1">指定組別</option>
		  <option value="2">分組(一組交一份)</option>
		</select>
    </div>
  </div>  
  <div class="form-group">
    <label class="col-sm-1 control-label">郵件通知</label>
    <div class="col-sm-9">    
	<label class="checkbox-inline">
	  <input type="checkbox" id="mainCheckbox1">試卷發布馬上通知
	</label>
	<label class="checkbox-inline">
	  <input type="checkbox" id="mainCheckbox2">測驗開始通知
	</label>
	<label class="checkbox-inline">
	  <input type="checkbox" id="mainCheckbox3">測驗結束前一天發提醒通知
	</label>
    </div>
  </div>  
  <div class="form-group">
    <label class="col-sm-1 control-label">試題排列</label>
    <div class="col-sm-9">
		<select class="form-control" name="Invited">
		  <option value="0">依序</option>
		  <option value="1">隨機排序</option>
		</select>
    </div>
  </div>  
  

  <div class="form-group">
    <div class="col-sm-offset-1 col-sm-10">
      <button type="submit" class="btn btn-default">儲存</button>
    </div>
  </div>
</form>	
</div>
