<div role="tabpanel">
	<ul class="nav nav-tabs">
		<li role="presentation">
			<a href="#quizFormBasic" aria-controls="quizFormBasic" role="tab" data-toggle="tab" >基本設定</a>
		</li>
		<li role="presentation" class="active">
			<a href="#quizFormPool" aria-controls="quizFormPool" role="tab" data-toggle="tab" >編輯題目</a>
		</li>
		<li role="presentation">
			<a href="#quizFormExtra" aria-controls="quizFormExtra" role="tab" data-toggle="tab" >答案/成績設定</a>
		</li>
	</ul>
	<br>
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane fade" id="quizFormBasic">
			<%= render 'quizBasicForm'%>
		</div>
		<div role="tabpanel" class="tab-pane fade" id="quizFormPool">
			<%= render 'quizPoolForm'%>
		</div>
		<div role="tabpanel" class="tab-pane fade in active" id="quizFormExtra">
			<%= render 'quizExtraForm'%>
		</div>
	</div>
</div>
