<form action="/courses/updateBasicQuiz" method="post"  id="quiz_basic_form" class="form-horizontal" role="form">
	<div class="form-group">
		<div class="col-sm-10">
			<input type="text" class="form-control" name="Caption" id="Caption" placeholder="測驗名稱">
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-10">
			<textarea class="form-control" rows="3" name="Content" id="Content" placeholder="內容說明"></textarea>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-1 control-label">開始時間</label>
		<div class="col-sm-9">
			<input type="text" class="form-control" id='datetimepickerBeginDate' name="BeginDate">
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-1 control-label">截止時間</label>
		<div class="col-sm-9">
			<input type="text" class="form-control" id='datetimepickerEndDate' name="EndDate">
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-1 control-label">種類</label>
		<div class="col-sm-9">
			<select class="form-control" name="QuizType" id="QuizType">
				<option value="1">隨堂考</option>
				<option value="2">期中考</option>
				<option value="3">期末考</option>
				<option value="0">其它</option>
			</select>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-1 control-label">參與方式</label>
		<div class="col-sm-9">
			<select class="form-control" name="Invited" id="Invited">
				<option value="0">所有修課生</option>
				<option value="1">指定組別</option>
				<option value="2">分組(一組交一份)</option>
			</select>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-1 control-label">郵件通知</label>
		<div class="col-sm-9">
			<label class="checkbox-inline">
				<input type="checkbox" id="NotifyCheckbox1">
				試卷發布馬上通知 </label>
			<label class="checkbox-inline">
				<input type="checkbox" id="NotifyCheckbox2">
				測驗開始通知 </label>
			<label class="checkbox-inline">
				<input type="checkbox" id="NotifyCheckbox3">
				測驗結束前一天發提醒通知 </label>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-1 control-label">試題排列</label>
		<div class="col-sm-9">
			<select class="form-control" name="IsDisorder" id="IsDisorder">
				<option value="0">依序</option>
				<option value="1">隨機排序</option>
			</select>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-1 col-sm-10">
			<button type="submit" class="btn btn-default" id="submitBasic">
				儲存
			</button>
		</div>
	</div>
</form>
<script type="text/javascript">
	$('#datetimepickerBeginDate, #datetimepickerEndDate').datetimepicker({
		use24hours : true,
		format : 'YYYY/MM/DD HH:mm'
	});
	var quiz_basic_form = $('#quiz_basic_form');
	quiz_basic_form.submit(function(ev) {
		$("#Caption").prop('disabled', true);
		$("#Content").prop('disabled', true);
		$("#datetimepickerBeginDate").prop('disabled', true);
		$("#datetimepickerEndDate").prop('disabled', true);
		$("#QuizType").prop('disabled', true);
		$("#Invited").prop('disabled', true);
		$("#NotifyCheckbox1").prop('disabled', true);
		$("#NotifyCheckbox2").prop('disabled', true);
		$("#NotifyCheckbox3").prop('disabled', true);
		$("#IsDisorder").prop('disabled', true);
		$("#submitBasic").prop('disabled', true);
		$.ajax({
			type : quiz_basic_form.attr('method'),
			url : quiz_basic_form.attr('action'),
			data : {
				Caption : $('#Caption').val(),
				Content : $('#Content').val(),
				BeginDate : $('#datetimepickerBeginDate').val(),
				EndDate : $('#datetimepickerEndDate').val(),
				QuizType : $('#QuizType').val(),
				Invited : $('#Invited').val(),
				Notify : (+$("#NotifyCheckbox1").prop('checked')).toString() + (+$("#NotifyCheckbox2").prop('checked')).toString() + (+$("#NotifyCheckbox3").prop('checked')).toString(),
				IsDisorder : $('#IsDisorder').val()
			},
			datatype : 'json',
			success : function(data) {
				if (data.success) {
					courseAlertShow('alert-success', '基本設定儲存成功')
				} else {
					courseAlertShow('alert-danger', 'test')
				}
				$("#Caption").prop('disabled', false);
				$("#Content").prop('disabled', false);
				$("#datetimepickerBeginDate").prop('disabled', false);
				$("#datetimepickerEndDate").prop('disabled', false);
				$("#QuizType").prop('disabled', false);
				$("#Invited").prop('disabled', false);
				$("#NotifyCheckbox1").prop('disabled', false);
				$("#NotifyCheckbox2").prop('disabled', false);
				$("#NotifyCheckbox3").prop('disabled', false);
				$("#IsDisorder").prop('disabled', false);
				$("#submitBasic").prop('disabled', false);

			}
		});
		ev.preventDefault();

	});
</script>