<div class="row crud_container">
	<div class="col-sm-offset-10 col-sm-2">
	<%= link_to '/courses/newQuiz?id='+@course_id.to_s, class: 'new_data' do %>
	<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
	<% end %>
	</div>
</div>	
<div class="row data_list_title">
  <div class="col-sm-4">草稿</div>	
  <div class="col-sm-2">測驗名稱</div>
  <div class="col-sm-2">開始時間</div>
  <div class="col-sm-2">截止時間</div>
  <div class="col-sm-2">繳交情況</div>
</div>	
<div class="row data_list_content">
  <div class="col-sm-4"></div>	
  <div class="col-sm-8" style="border-bottom: 1px solid #5C5C5D;">  
  	<a href="#">	  
	  <div class="row">
		  <div class="col-sm-3">第五次小考</div>	
		  <div class="col-sm-3">2014/11/11 09:00</div>
		  <div class="col-sm-3">2014/11/11 09:00</div>
		  <div class="col-sm-3">20個已繳 2個未繳</div>
	  </div>
	</a>
  </div>	
</div>	
<div class="row data_list_content">
  <div class="col-sm-4"></div>	
  <div class="col-sm-8" style="border-bottom: 1px solid #5C5C5D;">  
  	<a href="#">	  
	  <div class="row">
		  <div class="col-sm-3">第五次小考</div>	
		  <div class="col-sm-3">2014/11/11 09:00</div>
		  <div class="col-sm-3">2014/11/11 09:00</div>
		  <div class="col-sm-3">20個已繳 2個未繳</div>
	  </div>
	</a>
  </div>	
</div>			
<div class="row data_list_content">
  <div class="col-sm-4"></div>	
  <div class="col-sm-8" style="border-bottom: 1px solid #5C5C5D;">  
  	<a href="#">	  
	  <div class="row">
		  <div class="col-sm-3">第五次小考</div>	
		  <div class="col-sm-3">2014/11/11 09:00</div>
		  <div class="col-sm-3">2014/11/11 09:00</div>
		  <div class="col-sm-3">20個已繳 2個未繳</div>
	  </div>
	</a>
  </div>	
</div>	
<div class="row data_list_title">
  <div class="col-sm-4">未批改測驗</div>	
  <div class="col-sm-2">測驗名稱</div>
  <div class="col-sm-2">開始時間</div>
  <div class="col-sm-2">截止時間</div>
  <div class="col-sm-2">繳交情況</div>
</div>	
<div class="row data_list_content">
  <div class="col-sm-4"></div>	
  <div class="col-sm-8" style="border-bottom: 1px solid #5C5C5D;">  
  	<a href="#">	  
	  <div class="row">
		  <div class="col-sm-3">第五次小考</div>	
		  <div class="col-sm-3">2014/11/11 09:00</div>
		  <div class="col-sm-3">2014/11/11 09:00</div>
		  <div class="col-sm-3">20個已繳 2個未繳</div>
	  </div>
	</a>
  </div>	
</div>		
<div class="row data_list_content">
  <div class="col-sm-4"></div>	
  <div class="col-sm-8" style="border-bottom: 1px solid #5C5C5D;">  
  	<a href="#">	  
	  <div class="row">
		  <div class="col-sm-3">第五次小考</div>	
		  <div class="col-sm-3">2014/11/11 09:00</div>
		  <div class="col-sm-3">2014/11/11 09:00</div>
		  <div class="col-sm-3">20個已繳 2個未繳</div>
	  </div>
	</a>
  </div>	
</div>	
<div class="row data_list_content">
  <div class="col-sm-4"></div>	
  <div class="col-sm-8" style="border-bottom: 1px solid #5C5C5D;">  
  	<a href="#">	  
	  <div class="row">
		  <div class="col-sm-3">第五次小考</div>	
		  <div class="col-sm-3">2014/11/11 09:00</div>
		  <div class="col-sm-3">2014/11/11 09:00</div>
		  <div class="col-sm-3">20個已繳 2個未繳</div>
	  </div>
	</a>
  </div>	
</div>	