.course_container{

}

.course_content{

}
/*================== Sidebar ====================*/
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 81px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }
}
/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
  margin: 10px auto;
  color: #5C5C5D;
  text-align: center;  
  width: 130px;
  border: 1px solid #5C5C5D;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    background-color: #582B32 !important;  
    color: #fff !important;    
}
/*================== CRUD ====================*/
.crud_container{
  height: 60px;
  padding-top: 40px;
}
.new_data{
  border: 1.9px solid #582B32;  
  color: #582B32;  
  padding: 5px 9px;
  font-size: 20px;
}
/*================== Operation ====================*/

.operation_show_container{
  padding-bottom: 15px;  
  border-bottom: 1.8px dashed #582B32;   
}
.operation_tabs_container{
  padding-bottom: 15px;   
}
.operation_edit_but{
    text-decoration: none !important;
    display: inline-block;
    padding: 5px 10px;
    background: #ffffff;
    cursor: pointer;
    color: #5C5C5D;
    font-size: 15px;
}
.operation_edit_but:hover{
    background: #ffffff;  
    color: #5C5C5D;    
    opacity: 0.7;  
}
.operation_del_but{
    text-decoration: none !important;
    display: inline-block;    
    padding: 5px 10px;
    background: #8A2E2E;
    cursor: pointer;
    color: #ffffff;
    font-size: 15px;
}
.operation_del_but:hover{
    background: #8A2E2E;  
    color: #ffffff;    
    opacity: 0.7;  
}

.operation_tabs_edit_but{
    margin-right: 10px;
    text-decoration: none !important;
    display: inline-block;
    padding: 5px 10px;
    background: none;
    cursor: pointer;
    color: #5C5C5D;
    font-size: 15px;
    border: 1.9px solid #5C5C5D;      
}
.operation_tabs_edit_but:hover{
    background: none;  
    color: #5C5C5D;    
    opacity: 0.7;  
}

.operation_tabs_del_but{
    margin-right: 10px;  
    text-decoration: none !important;
    display: inline-block;    
    padding: 5px 10px;
    background: none;
    cursor: pointer;
    color: #5C5C5D;
    font-size: 15px;
    border: 1.9px solid #5C5C5D;     
}
.operation_tabs_del_but:hover{
    background: none;  
    color: #5C5C5D;   
    opacity: 0.7;  
}

/*================== List ====================*/
.data_list_title{
  line-height: 40px;
  font-size: 20px;
  margin-top: 30px;
  border-bottom: 1px solid #5C5C5D;  
}
.data_list_title > div{

}
.data_list_content {
   
}
.data_list_content > div {
  line-height: 35px;  
  color: #582B32; 
}
.data_list_content > div > a{
  font-size: 16px;   
  color: #582B32; 
}
.data_list_content > div > a:hover{
  opacity: 0.7; 
}
/*================== Shows ====================*/
.show-content{
  min-height: 1000px;
  background: #E8E2D4;
  padding-top: 20px;  
  padding-left: 20px;
}
.show_title_container{
  border-bottom: 1.8px solid #582B32; 
  padding-top: 20px;     
  padding-bottom: 5px; 
}
.show_title{
  font-size: 22px;  
}
.show_description_container{
  padding-top: 20px;     
  padding-bottom: 20px;      
  font-size: 18px;  
  line-height: 30px;   
}
.show_description_sub_container{
  margin-bottom: 8px;
}

.show_description_title{
  border-right: 1.8px solid #582B32; 
}
.show_description_right{
  background: #ffffff;
}
/*================== Tabs ====================*/
.course-tabs{
  width: 100%;
  z-index: 1000;  
  position: fixed;
  top: 90px;
  font-size: 17px;
  background: #ffffff;  
  border-bottom: none !important;  
}
.course-tabs > li> a{
  border: none;    
  color: #582B32;   
  line-height: 35px;
  background: none !important;
}

.course-tabs > li.active > a, 
.course-tabs > li.active > a:hover, 
.course-tabs > li.active > a:focus {
  border: none;  
  background: none;
}

.course-tabs > li.active > a > span, 
.course-tabs > li.active > a:hover > span, 
.course-tabs > li.active > a:focus > span {
  border-bottom:1px solid #582B32;
  padding-bottom:2px; 
  outline: 0; 
}

.course-tabs > li> a > img{
  height: 20px;
  width: 20px;
  margin-right: 5px;
  margin-top: 5px;
}
.course-tabs > li> a > span{
  vertical-align:text-top;
}
.course-tab-content{
  min-height: 1000px;
  background: #E8E2D4;   
  padding-top: 20px;  
  padding-left: 20px;
}
/*==================Area dropdown============-*/
.area_dropdown{
  cursor: pointer;
  border-bottom: 1.5px solid #582B32;  
  font-size: 16px;
}
.area_dropdown:hover{
  opacity: 0.8;
}
.area_dropdown_title{
  
}
.area_dropdown_icon{
  float: right;
}
/*==================Question============-*/
.question_eg{
  font-size: 16px;  
}

.question_eg_question_outter{
  min-height: 90px;
  padding-top:30px;  
}
.question_eg_question_container{
  letter-spacing: 0.5px;
  
}
.question_eg_question_mani{
  font-size: 30px;   
  margin-right: 15px;
  cursor: pointer;  
}
.question_eg_question_mani:hover{
  opacity: 0.8;
}
.question_eg_comment_outter{
  padding-top:20px;    
}

.question_eg_options_title_outter{
  padding-top:20px;      
}

.question_eg_options_outter{       
}

.question_eg_options_title{
  padding-top: 5px;    
  padding-bottom: 5px;    
  border-top: 1.5px dashed #582B32;     
  border-bottom: 1.5px dashed #582B32;    
}
.question_eg_options_comment{
  padding-top: 5px;    
  padding-bottom: 5px;    
  border: 1px solid #582B32;     
}
.question_eg_options_container{
  padding-top:20px;  
  padding-bottom:20px;   
  border-bottom: 1px solid #582B32;  
}



/*================== Quiz ====================*/
.quiz{
  
}



