.course_container{

}

.course_content{

}
/*================== Sidebar ====================*/
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 81px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }
}
/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
  margin: 10px auto;
  color: #5C5C5D;
  text-align: center;  
  width: 130px;
  border: 1px solid #5C5C5D;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    background-color: #582B32 !important;  
    color: #fff !important;    
}
/*================== CRUD ====================*/
.crud_container{
  height: 60px;
  padding-top: 40px;
}
.new_data{
  border: 1.9px solid #582B32;  
  color: #582B32;  
  padding: 5px 9px;
  font-size: 20px;
}
/*================== List ====================*/
.data_list_title{
  line-height: 40px;
  font-size: 20px;
  margin-top: 30px;
  border-bottom: 1px solid #5C5C5D;  
}
.data_list_title > div{

}
.data_list_content {
   
}
.data_list_content > div {
  line-height: 35px;  
  color: #582B32; 
}
.data_list_content > div > a{
  font-size: 16px;   
  color: #582B32; 
}
.data_list_content > div > a:hover{
  opacity: 0.7; 
}
/*================== Tabs ====================*/
.course-tabs{
  font-size: 17px;
  background: #ffffff;  
}
.course-tabs > li> a{
  border: none;    
  color: #582B32;   
  line-height: 35px;
  background: none !important;
}

.course-tabs > li.active > a, 
.course-tabs > li.active > a:hover, 
.course-tabs > li.active > a:focus {
  border: none;  
  background: none;
}

.course-tabs > li.active > a > span, 
.course-tabs > li.active > a:hover > span, 
.course-tabs > li.active > a:focus > span {
  border-bottom:1px solid #582B32;
  padding-bottom:2px; 
  outline: 0; 
}

.course-tabs > li> a > img{
  height: 20px;
  width: 20px;
  margin-right: 5px;
  margin-top: 5px;
}
.course-tabs > li> a > span{
  vertical-align:text-top;
}
.course-tab-content{
  min-height: 1000px;
  background: #E8E2D4;
  padding-top: 20px;  
  padding-left: 20px;
}
/*==================Area dropdown============-*/
.area_dropdown{
  cursor: pointer;
  border-bottom: 1.5px solid #582B32;  
  font-size: 16px;
}
.area_dropdown:hover{
  opacity: 0.8;
}
.area_dropdown_title{
  
}
.area_dropdown_icon{
  float: right;
}


/*================== Quiz ====================*/
.quiz{
  
}



